.trucksBar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.truckList{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 0;
}

.truckListItem{
    max-width: 888px;
    max-height: 368px;
    border: 1px solid var(--d-grey);
    border-radius: 20px;
    background-color: var(--white);
    padding: 24px;
}

.loadMoreBtn{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    color: var(--main);
    width: 145px;
    height: 56px;
    border-radius: 200px;
    background-color: var(--white);
    border: 1px solid var(--d-grey);
    cursor: pointer;
}