.header{
    background-color: var(--milk);
    width: 100vw;
    max-height: 72px;
    padding: 24px 64px;
    display: flex;
    align-items: center;
}

.headerTitle{
    margin-right: 450px;
}

.nalLinks{
    display: flex;
    gap: 32px;
}

.navLink{
    text-decoration:none;
    color: var(--main);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
}

.navLinkActive{
    text-decoration:none;
    color: var(--button-hover);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
}